<div class="row">
  <div class="col">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
      <header class="post-header">
        <h2 class="post-title" itemprop="name headline">{{ .Title | safeHTML }}</h2>
        <p class="post-meta">
          <time datetime="{{ .Date }}" itemprop="datePublished">
            {{ .Date | dateFormat "Monday, Jan 2, 2006" }}
          </time>
        </p>
      </header>

      <div class="post-content" itemprop="articleBody">
        {{ .Content }}
      </div>

    </article>
  </div>
</div>
